In [7]:
import pandas as pd
import numpy as np
from knockai.log_decode import log_decode

In [8]:
df = log_decode('/Users/danchecketts/dev/learning/Knockai/resources/runs/r02/r2-100k-af.txt')

In [9]:
# Identify the columns in the DataFrame that correspond to the throttle position and air-fuel mixture
throttle_col = 'TPS'
afr_col = 'WB_Oxy'
time_col = 'Secs'

In [15]:
# Remove the other columns
df = df[[time_col, throttle_col, afr_col]]
df.head()

   Secs  TPS  WB_Oxy
0  0.00   20    15.1
1  0.09   20    14.7
2  0.17   20    13.9
3  0.27   20    13.8
4  0.36   20    14.0

In [18]:
# Calculate the derivative of the throttle position and air-fuel mixture
df['throttle_derivative'] = df[throttle_col].diff() / df[time_col].diff()
df['afr_derivative'] = df[afr_col].diff() / df[time_col].diff()
df.head(50)

    Secs  TPS  WB_Oxy  throttle_derivative  afr_derivative
0   0.00   20    15.1                  NaN             NaN
1   0.09   20    14.7             0.000000       -4.444444
2   0.17   20    13.9             0.000000      -10.000000
3   0.27   20    13.8             0.000000       -1.000000
4   0.36   20    14.0             0.000000        2.222222
5   0.45   20    14.0             0.000000        0.000000
6   0.55   20    14.2             0.000000        2.000000
7   0.66   20    15.0             0.000000        7.272727
8   0.75   20    15.2             0.000000        2.222222
9   0.84   20    14.8             0.000000       -4.444444
10  0.92   20    13.9             0.000000      -11.250000
11  1.03   20    13.6             0.000000       -2.727273
12  1.13   20    13.3             0.000000       -3.000000
13  1.20   20    13.3             0.000000        0.000000
14  1.30   20    13.4             0.000000        1.000000
15  1.39   20    13.8             0.000000        4.444444
16  1.47   20    14.0             0.000000        2.500000
17  1.56   20    14.1             0.000000        1.111111
18  1.64   20    14.4             0.000000        3.750000
19  1.74   20    14.5             0.000000        1.000000
20  1.83   20    14.5             0.000000        0.000000
21  1.92   20    14.4             0.000000       -1.111111
22  2.00   20    14.3             0.000000       -1.250000
23  2.09   20    14.6             0.000000        3.333333
24  2.19   20    15.0             0.000000        4.000000
25  2.30   20    15.0             0.000000        0.000000
26  2.39   20    14.6             0.000000       -4.444444
27  2.47   31    14.1           137.500000       -6.250000
28  2.56   40    13.9           100.000000       -2.222222
29  2.67   20    13.5          -181.818182       -3.636364
30  2.75   20    14.4             0.000000       11.250000
31  2.84   20    12.1             0.000000      -25.555556
32  2.92   20    11.5             0.000000       -7.500000
33  3.00   20    10.9             0.000000       -7.500000
34  3.11   21    10.8             9.090909       -0.909091
35  3.19   21    11.0             0.000000        2.500000
36  3.27   21    10.8             0.000000       -2.500000
37  3.36   22    10.4            11.111111       -4.444444
38  3.45   22    11.0             0.000000        6.666667
39  3.56   21    12.4            -9.090909       12.727273
40  3.64   21    12.4             0.000000        0.000000
41  3.72   22    12.8            12.500000        5.000000
42  3.83   22    13.0             0.000000        1.818182
43  3.91   22    13.0             0.000000        0.000000
44  4.02   22    13.1             0.000000        0.909091
45  4.09   22    13.1             0.000000        0.000000
46  4.17   22    13.1             0.000000        0.000000
47  4.27   22    13.1             0.000000        0.000000
48  4.38   22    13.0             0.000000       -0.909091
49  4.45   23    13.0            14.285714        0.000000

In [20]:
# Find the point where the rate of change in throttle position exceeds a certain threshold
# and when the corresponding rate of change in the air-fuel mixture first exceeds a similar threshold
throttle_threshold = 20
afr_threshold = -5

throttle_start = df[df['throttle_derivative'] > throttle_threshold].index[0]
afr_start = df[df['afr_derivative'] < afr_threshold].index[0]

   Secs  TPS  WB_Oxy  throttle_derivative  afr_derivative
0  0.00   20    15.1                  NaN             NaN
1  0.09   20    14.7                  0.0       -4.444444
2  0.17   20    13.9                  0.0      -10.000000
3  0.27   20    13.8                  0.0       -1.000000
4  0.36   20    14.0                  0.0        2.222222

In [21]:
# The difference in time between these two points is the time it takes for the throttle being opened to have an effect on the air-fuel mixture
time_to_effect = df.loc[afr_start, time_col] - df.loc[throttle_start, time_col]
print('Time to effect:', time_to_effect, 'seconds')

Time to effect: -2.3000000000000003 seconds

In [ ]:
# 2.39 to 2.47 is throttle open
# 2.75 the AFR raises as the throttle is opened
# Time taken to respond is 0.28 to 0.36 seconds

Now we know the delay, let's regress the AFR against the INJ_PW
We need to exclude any rows where there is accel fuel being added (Accel_ == True)
We need to exclude any rows where the throttle is closed TPS == 20 or snapped open or closed, i.e. TPS derivative > 100
We will also need to estimate the intake velocity as a function of RPM and MAP with a delay and increase.